/*

nvim/plugin/packer_compiled.lua
lvim/plugin/packer_compiled.lua

!nvim/
!nvim/*
!nvim/*/*
!nvim/*/*/*

!tmux/
!tmux/*
!tmux/**

!iterm2/
!iterm2/*
!iterm2/**

!lvim/
!lvim/*
!lvim/*/*
!lvim/*/*/*


